.text-block{
    text-align: center;
}
.features-icon{
    display: block !important;
    font-size: 33px !important;
}
.logo{
    text-decoration: none !important;
    color: #6ac142 !important;
}
.text-green{
    color: #6ac142;
}
#logo-link{
    color: #6ac142;
}
.badge{
    margin-top: 0.5em !important;
}
.bg-main-green{
    background-color :#6ac142 !important;
}